* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: poppins;
  text-decoration: none;
}
html {
  background-color: #101010;
  height: 100%;
}
.fitness-mirror {
  background-color: #101010;
  display: flex;

  flex-direction: column;
  overflow: hidden;
  padding: 0 120px;
}
.hero-image {
  aspect-ratio: 1.7;
  object-fit: contain;
  width: 100%;
}
.timeline-container {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  font-family: poppins, sans-serif;
  margin: 127px 258px 0 0;
}
.timeline-title {
  color: #ededed;
  font-size: 40px;
}
.timeline-date {
  color: #949494;
  font-size: 28px;
  margin-top: 18px;
}
.project-overview {
  align-self: center;
  z-index: 10;
  display: flex;
  margin-top: -101px;
  width: 100%;
  max-width: 1705px;
  flex-direction: column;
}
.overview-header {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.overview-title-container {
  display: flex;

  max-width: 100%;
  flex-direction: column;
  font-family: poppins, sans-serif;
}
.overview-subtitle {
  color: #949494;
  font-size: 28px;
}
.overview-title {
  color: #ededed;
  font-size: 64px;
  margin-top: 8px;
}
.divider {
  height: 1px;
  margin-top: 30px;
  width: 100%;
  background-color: #ededed;
}
.overview-content {
  display: flex;
  margin-top: 30px;
  width: 100%;
  flex-direction: column;
}
.context-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: poppins, sans-serif;
}
.context-title {
  color: #ededed;
  font-size: 40px;
}
.context-description {
  color: #949494;
  font-size: 28px;
  line-height: 38px;
  margin-top: 16px;
}
.brief-opportunity {
  display: flex;
  margin-top: 40px;
  width: 100%;
  align-items: flex-start;
  gap: 40px 120px;
  flex-wrap: wrap;
}
.brief-container,
.opportunity-container {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  flex: 1;
  flex-basis: 0%;
}
.brief-title,
.opportunity-title {
  color: #ededed;
  font: 40px poppins, sans-serif;
}
.brief-description,
.opportunity-description {
  color: #949494;
  margin-top: 16px;
  font: 28px/38px Poppins, sans-serif;
}
.process-highlights {
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
  font-family: poppins, sans-serif;
}
.process-title-container {
  display: flex;
  width: 1766px;
  max-width: 100%;
  flex-direction: column;
}
.process-subtitle {
  color: #949494;
  font-size: 28px;
}
.process-title {
  color: #ededed;
  font-size: 64px;
}
.process-image {
  aspect-ratio: 4.52;
  object-fit: contain;
  width: 100%;
  margin-top: 100px;
}
.research-section {
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
  font-family: poppins, sans-serif;
}
.research-title-container {
  display: flex;
  width: 1713px;
  max-width: 100%;
  flex-direction: column;
}
.research-subtitle {
  color: #949494;
  font-size: 28px;
}
.research-title {
  color: #ededed;
  font-size: 64px;
}
.research-image {
  aspect-ratio: 1.73;
  object-fit: contain;
  width: 100%;
  margin-top: 26px;
}
.affinity-mapping-image {
  aspect-ratio: 1.27;
  object-fit: contain;
  width: 100%;
  margin-top: 100px;
}
.affinity-mapping {
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
  font-family: poppins, sans-serif;
}
.affinity-title-container {
  display: flex;
  width: 875px;
  max-width: 100%;
  flex-direction: column;
}
.affinity-subtitle {
  color: #949494;
  font-size: 28px;
  text-transform: uppercase;
}
.affinity-title {
  color: #ededed;
  font-size: 64px;
}
.affinity-image {
  aspect-ratio: 1.6;
  object-fit: contain;
  width: 100%;
  margin-top: 100px;
}
.key-insights {
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
}
.insights-title-container {
  display: flex;
  width: 538px;
  max-width: 100%;
  flex-direction: column;
  font-family: poppins, sans-serif;
}
.insights-subtitle {
  color: #949494;
  font-size: 28px;
}
.insights-title {
  color: #ededed;
  font-size: 64px;
}
.insights-content {
  display: flex;
  margin-top: 30px;
  width: 100%;
  flex-direction: column;
  font-size: 28px;
  line-height: 38px;
}
.insights-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 40px 120px;
  flex-wrap: wrap;
}
.insight-item {
  color: #949494;
  font-family: Poppins, sans-serif;
  flex: 1;
  flex-basis: 0%;
}
.insight-highlight {
  color: #ededed;
  font-family: poppins, sans-serif;
}
.how-might-we {
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
  font-family: poppins, sans-serif;
}
.hmw-title-container {
  display: flex;
  width: 557px;
  max-width: 100%;
  flex-direction: column;
}
.hmw-subtitle {
  color: #949494;
  font-size: 28px;
}
.hmw-title {
  color: #ededed;
  font-size: 64px;
}
.hmw-content {
  display: flex;
  margin-top: 30px;
  width: 100%;
  flex-direction: column;
  font-size: 28px;
  color: #949494;
  line-height: 38px;
}
.hmw-row {
  display: flex;
  width: 1684px;
  max-width: 100%;
  align-items: flex-start;
  gap: 40px 120px;
  flex-wrap: wrap;
}
.hmw-item {
  flex: 1;
  flex-basis: 0%;
}
.hmw-highlight {
  color: #ededed;
}
.user-flow {
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
  font-family: poppins, sans-serif;
}
.flow-title-container {
  display: flex;
  width: 542px;
  max-width: 100%;
  flex-direction: column;
}
.flow-subtitle {
  color: #949494;
  font-size: 28px;
}
.flow-title {
  color: #ededed;
  font-size: 64px;
}
.flow-label {
  align-self: stretch;
  width: 100%;
  margin-top: 30px;
  font-size: 64px;
  color: #ebebeb;
  text-align: center;
  padding: 40px 0;
}
.flow-image {
  aspect-ratio: 1.94;
  object-fit: contain;
  width: 100%;
  margin-top: 30px;
}
.wireframes {
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
}
.wireframes-title-container {
  display: flex;
  width: 134px;
  max-width: 100%;
  flex-direction: column;
  font-family: poppins, sans-serif;
  white-space: nowrap;
}
.wireframes-subtitle {
  color: #949494;
  font-size: 28px;
}
.wireframes-title {
  color: #ededed;
  font-size: 64px;
}
.wireframes-content {
  display: flex;
  margin-top: 30px;
  width: 100%;
  max-width: 1704px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding: 60px 0;
}
.wireframes-description {
  color: #949494;
  font: 400 28px/1 poppins, sans-serif;
}
.wireframes-grid {
  display: flex;
  margin-top: 80px;
  width: 100%;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
.wireframe-image {
  aspect-ratio: 1.63;
  object-fit: contain;
  width: 312px;
  align-self: stretch;
  min-width: 240px;

  margin: auto 0;
}
.ergonomics-description {
  color: #949494;
  margin-top: 80px;
  font: 400 28px/38px poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
.ergonomics-grid {
  align-self: center;
  display: flex;
  margin-top: 80px;
  align-items: center;
  gap: 40px 157px;
  flex-wrap: wrap;
}
.ergonomics-image {
  aspect-ratio: 0.33;
  object-fit: contain;
  width: 189px;
  align-self: stretch;
  margin: auto 0;
}
.style-guide {
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
  font-family: poppins, sans-serif;
}
.guide-title-container {
  display: flex;
  width: 557px;
  max-width: 100%;
  flex-direction: column;
}
.guide-subtitle {
  color: #949494;
  font-size: 28px;
}
.guide-title {
  color: #ededed;
  font-size: 64px;
}
.guide-image {
  aspect-ratio: 2.56;
  object-fit: contain;
  width: 100%;
  margin-top: 30px;
}
.final-design {
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
}
.design-title-container {
  display: flex;
  width: 584px;
  max-width: 100%;
  flex-direction: column;
  font-family: poppins sans-serif;
}
.design-subtitle {
  color: #949494;
  font-size: 28px;
}
.design-title {
  color: #ededed;
  font-size: 64px;
}
.design-label {
  align-self: stretch;
  width: 100%;
  margin-top: 30px;
  color: #ebebeb;
  text-align: center;
  padding: 46px 0;
  font: 400 84px/1 poppins, sans-serif;
}
.design-grid {
  display: flex;
  margin-top: 30px;
  width: 100%;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.design-grid-inner {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  width: 1704px;
  align-items: center;
  gap: 170px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto 0;
}
.design-image {
  aspect-ratio: 0.39;
  object-fit: contain;
  width: 197px;
  align-self: stretch;
  min-width: 240px;

  margin: auto 0;
}
.mobile-label {
  align-self: stretch;
  flex: 1;
  margin-top: 30px;
  width: 100%;
  color: #ebebeb;
  text-align: center;
  padding: 120px 0;
  font: 400 84px/1 poppins, sans-serif;
}
.mobile-grid {
  display: flex;
  margin-top: 100px;
  width: 100%;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.mobile-grid-inner {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  width: 1500px;
  align-items: center;
  gap: 120px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto 0;
}
.mobile-image {
  aspect-ratio: 0.47;
  object-fit: contain;
  width: 310px;
  align-self: stretch;
  min-width: 240px;

  margin: auto 0;
}

@media (max-width: 991px) {
  .fitness-mirror {
    padding-bottom: 100px;
  }
  .hero-image {
    max-width: 100%;
  }
  .timeline-container {
    margin: 40px 10px 0 0;
  }
  .project-overview {
    max-width: 100%;
  }
  .overview-title {
    max-width: 100%;
    font-size: 40px;
  }
  .divider {
    max-width: 100%;
  }
  .overview-content {
    max-width: 100%;
  }
  .context-section {
    max-width: 100%;
  }
  .context-description {
    max-width: 100%;
  }
  .brief-opportunity {
    max-width: 100%;
  }
  .process-highlights {
    max-width: 100%;
    margin-top: 40px;
  }
  .process-image {
    max-width: 100%;
    margin-top: 40px;
  }
  .research-section {
    max-width: 100%;
    margin-top: 40px;
  }
  .research-title {
    max-width: 100%;
    font-size: 40px;
  }
  .research-image {
    max-width: 100%;
  }
  .affinity-mapping-image {
    max-width: 100%;
    margin-top: 40px;
  }
  .affinity-mapping {
    max-width: 100%;
    margin-top: 40px;
  }
  .affinity-title {
    max-width: 100%;
    font-size: 40px;
  }
  .affinity-image {
    margin-top: 40px;
  }
  .key-insights {
    max-width: 100%;
    margin-top: 40px;
  }
  .insights-title {
    font-size: 40px;
  }
  .insights-content {
    max-width: 100%;
  }
  .how-might-we {
    max-width: 100%;
    margin-top: 40px;
  }
  .hmw-title {
    font-size: 40px;
  }
  .hmw-content {
    max-width: 100%;
  }
  .hmw-row {
    max-width: 100%;
  }
  .user-flow {
    max-width: 100%;
    margin-top: 40px;
  }
  .flow-title {
    font-size: 40px;
  }
  .flow-label {
    max-width: 100%;
    font-size: 40px;
    white-space: normal;
  }
  .flow-image {
    max-width: 100%;
  }
  .wireframes {
    max-width: 100%;
    margin-top: 40px;
  }
  .wireframes-title {
    font-size: 40px;
  }
  .wireframes-content {
    max-width: 100%;
  }
  .wireframes-grid {
    max-width: 100%;
    margin-top: 40px;
  }
  .ergonomics-description {
    max-width: 100%;
    margin-top: 40px;
  }
  .ergonomics-grid {
    max-width: 100%;
    margin-top: 40px;
  }
  .style-guide {
    max-width: 100%;
    margin-top: 40px;
  }
  .guide-title {
    font-size: 40px;
  }
  .guide-image {
    max-width: 100%;
  }
  .final-design {
    max-width: 100%;
    margin-top: 40px;
  }
  .design-title {
    font-size: 40px;
  }
  .design-label {
    max-width: 100%;
    font-size: 40px;
    white-space: normal;
  }
  .design-grid {
    max-width: 100%;
  }
  .design-grid-inner {
    max-width: 100%;
  }
  .mobile-label {
    max-width: 100%;
    font-size: 40px;
    white-space: normal;
    padding: 100px 0;
  }
  .mobile-grid {
    max-width: 100%;
    margin-top: 40px;
  }
  .mobile-grid-inner {
    max-width: 100%;
  }
}
